.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom styles for the select element */
#currency-select {
    background-color: rgb(87, 245, 134); /* Set the background color to green */
    color: black; /* Set the text color to white */
    border-radius: 5px; /* Set round corners with the desired radius */
    padding: 5px; /* Add padding to the select box */
    border-color: rgb(87, 245, 134);
  }
  
  /* Style for the hovered option */
  #currency-select option:hover {
    background-color: white; /* Hovered option becomes white */
  }
  
  /* Style for the selected option */
  #currency-select option:checked {
    background-color: rgb(87, 245, 134);
    color: white; /* Set text color to white for the selected option */
  }
