.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom styles for the select element */
#currency-select {
    background-color: rgb(135, 229, 163); /* Set the background color to green */
    border-radius: 5px; /* Set round corners with the desired radius */
    padding: 5px; /* Add padding to the select box */
    border-color: rgb(135, 229, 163);
    color: white; /* Set the color of the caption to white */
  }
  
  #currency-select option {
    color: black;
  }
  
  /* Set the background color of the options to white and the font color to black when the user hovers over them */
  #currency-select option:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  
  /* Add a pseudo-element to the last option element to display the text of the selected option in round brackets */
  #currency-select option:last-child::after {
    content: "( " attr(selected) " )"; /* Set the content of the pseudo-element to the text of the selected option, enclosed in round brackets */
    color: black; /* Set the color of the pseudo-element to black */
    font-weight: bold; /* Make the font bold */
    padding-left: 5px; /* Add padding to the left of the pseudo-element */
    padding-right: 5px; /* Add padding to the right of the pseudo-element */
  }
